
/* Mobile */
@media(max-width: 768px){
    #landing-page h1{
        font-size: 36px;
    }

    #landing-page h3{
        font-size: 18px;
    }

    #landing-page p{
        font-size: 13px;
    }

    #landing-page ul{
        font-size: 11px;
    }

    .btn{
        height: 28px;
        width: 100px;
        font-size: 14px;
        padding: 0;
    }

    .material-icons{
        font-size: 36px;
    }

    #quiz-images{
        height: 300px;
    }

    #quiz-hitler-image, #quiz-marx-image{
        height: 150px;
        width: 120px;
    }

    /* #quiz-quote{
        min-height: 150px;
    } */

    #quiz-quote-actual{
        max-width: 800px;
        font-size: 13px;
    }

    #quiz-quote-attribution{
        font-size: 11px;
    }

    #results-summary{
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }

    #results-summary-total{
        font-size: 22px;
    }

    #results-summary-description{
        font-size: 19px;
    }

    .result-container{
        min-height: 150px;
        width: 100%;
    }

    .result-quote{
        font-size: 14px;
    }

    .result-attribution{
        font-size: 13px;
    }
}